#inputs, #occupantSliders, #explanation, #graphWrapper ul, #graphWrapper2 ul, #graphWrapper3 ul, #graph .creditText, #graph .axislabel, #graph .axis text, #graph .yaxislabel, #tooltip h1, #tooltip2 h1, #tooltip3 h1, #thresholdTooltip h1, #thresholdTooltip2 h1,  #thresholdTooltip3 h1, .facadeHeading, .facadelabel, #graphViewToggle .heading, #graphViewToggle .marked {
  font-family: "Arial", sans-serif;
}

#graphViewToggle .unmarked, #referenceLinks ul, #referenceLinks a, #referenceLinks .heading {
  font-family: "Arial", sans-serif;
}

#options, .alert, label#setGlazing, br.glzBR, input#windowWidthCheck, label#checkWindWidth, input#glazingRatioCheck, label#checkGlzRatio, span.expand, #projectList {
  display: none;
}

.unexpanded {
  display: none;
}

.subtext {
  display: none;
}

.hideContent {
  display: block;
}

@media print {
      #inputs label.grey, #graphViewToggle .unmarked{
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #ADADAD;
      }

      @media print and (-webkit-min-device-pixel-ratio:0) {
        #inputs label.grey, #graphViewToggle .unmarked {
          color: #ADADAD;
          -webkit-print-color-adjust: exact;
        }
      }
   }

h2.case1Text, #inputs input.case1, #inputs input.inactive case1, #caseSelection h2#case1Label, #inputs input.inactive#calcuvalue, #inputs .hideContent input.case1, #inputs input.inactive#condRisk1 {
  color: rgb(0,160,221) !important;
}

h2.case2Text, #inputs input.case2, #inputs input.inactive case2, #caseSelection h2#case2Label, #inputs input.inactive#calcuvalue2, #inputs .hideContent input.case2, #inputs input.inactive#condRisk2 {
  color: rgb(248,151,29) !important;
}

h2.case3Text, #inputs input.case3, #inputs input.inactive case3, #caseSelection h2#case3Label, #inputs input.inactive#calcuvalue3, #inputs .hideContent input.case3, #inputs input.inactive#condRisk3 {
  color: rgb(108,28,131) !important;
}



input[type=range]#occupantDist::-ms-track, input[type=range]#occupantDist2::-ms-track, input[type=range]#occupantDist3::-ms-track, input[type=range]#ppd::-ms-track, input[type=range]#ppd2::-ms-track, input[type=range]#distFromFacade::-ms-track {
  -ms-appearance: none;
  height: 1px;
  border: 1px solid #d5d5d5;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: transparent;
}

input[type=range]#ppd::-ms-fill-lower, input[type=range]#ppd2::-ms-fill-lower {
  border: 1px solid rgb(147,229,0);
  height: 1px;
}

input[type=range]#ppd::-moz-range-progress, input[type=range]#ppd2::-moz-range-progress{
  border: 1px solid rgb(147,229,0);
  height: 1px;
}


#occupantDist::-moz-range-track, #occupantDist2::-moz-range-track, #occupantDist3::-moz-range-track, #ppd::-moz-range-track, #ppd2::-moz-range-track, #distFromFacade::-moz-range-track {
  -moz-appearance: none;
  height: 1px;
  border: 1px solid #d5d5d5;
  margin-right: 3px;
}



#occupantDist::-webkit-slider-runnable-track, #occupantDist2::-webkit-slider-runnable-track, #occupantDist3::-webkit-slider-runnable-track, #ppd::-webkit-slider-runnable-track, #ppd2::-webkit-slider-runnable-track, #distFromFacade::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1px;
  border: 1px solid #d5d5d5;
  margin-right: 3px;
}


#occupantDist::-ms-thumb, #occupantDist2::-ms-thumb, #occupantDist3::-ms-thumb, #ppd::-ms-thumb, #ppd2::-ms-thumb, #distFromFacade::-ms-thumb {
    background-color: #FFF;
    border: 3px solid rgb(150,150,150);
    border-radius: 5px;
    height: 5px;
    width: 5px;
}


#occupantDist::-moz-range-thumb, #occupantDist2::-moz-range-thumb, #occupantDist3::-moz-range-thumb, #ppd::-moz-range-thumb, #ppd2::-moz-range-thumb, #distFromFacade::-moz-range-thumb {
  -moz-appearance: none;
    background-color: #FFF;
    border: 3px solid rgb(150,150,150);
    border-radius: 5px;
    height: 5px;
    width: 5px;
}

#occupantDist::-webkit-slider-thumb, #occupantDist2::-webkit-slider-thumb, #occupantDist3::-webkit-slider-thumb, #ppd::-webkit-slider-thumb, #ppd2::-webkit-slider-thumb, #distFromFacade::-webkit-slider-thumb {
  -webkit-appearance: none;
	position: relative;
  background-color: #FFF;
	height: 10px;
  width: 10px;
  border: 3px solid rgb(150,150,150);
  border-radius: 5px;
	margin-top: -5px
}

#graph .grid line {
  stroke-width: 1px;
  stroke-dasharray: 1 4;
  stroke-linecap: round;
  stroke: black;
}

#graph line.refLine {
  stroke-width: 2px;
  stroke: black;
}

rect.thresholdRect {
  fill: #F0F0F0;
}

#graphWrapper, #graphWrapper2, #graphWrapper3{
  box-shadow: inset 0 0 0 1000px rgb(230,230,230);
}

#key {
  box-shadow: inset 0 0 0 1000px rgb(230,230,230);
}

@media print {
      #graphWrapper ul li, #graphWrapper2 ul li, #graphWrapper3 ul li {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #777777;
      }

      @media print and (-webkit-min-device-pixel-ratio:0) {
        #graphWrapper ul li, #graphWrapper2 ul li, #graphWrapper3 ul li {
          color: #777777;
          -webkit-print-color-adjust: exact;
        }
      }
   }

#inputs hr{
  border-top: 1pt solid #666
}
