#visual {
	float: left;
	width: 550px;
	padding: 0;
	margin: 0 20px 0 0;
}

#graphWrapper {
	
}

#graph .axislabel {
	font-family: "museo-sans", sans-serif;
	font-size: 10px;
	font-weight: 700;
}

#graph .axis text {
    font-family: "museo-sans", sans-serif;
    font-size: 10px;
}

#graph .axis path,
#graph .axis line {
    fill: none;
}


#graph .grid line { /* horizontal reference lines */
	stroke-width: 1;
	stroke: #000;
	stroke-linecap: round;
	stroke-dasharray: 0 4;
}

#graph .grid path {
	stroke-width: 0;
}

#graph #graphXAxis line {
	stroke-width: .5;
	stroke: rgb(90,90,90);
}

#graph #graphYAxis line {
	stroke-width: 0;
}






#facadeWrapper {

}

#facade .axislabel {
	font-family: "museo-sans", sans-serif;
	font-size: 10px;
	font-weight: 300;
	background-color: #fff;
}


#facade .dimline {
	stroke-width: .8;
	stroke: #000;
	stroke-linecap: butt;
}








#inputs {
	float: left;
	width: 390px;

	font-family: "museo-sans", sans-serif;
}

#inputs .inputgroup {
	border: none;
	padding: 0 0 10px 0;
}


#inputs #legend {
	border: none;
	padding: 0 0 10px 0;
	margin-bottom: 20px;
}

#inputs legend, #inputs h1 {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 5px 0;
	margin: 0;
}

#inputs ul {
	font-family: "museo-sans", sans-serif;
	color: #b9b9b9;
	font-weight: 300;
	font-size: 12px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}



#inputs hr {
	padding: 0;
	margin: 0 0 5px 0;
	background: #000;
	border: none;
	color: #000;
	height: 1px;
	width: 100%;
}

#inputs input {
	padding: 0;
	margin: 3px 0;
	display: inline-block;
	float: left;
	width: 38px;

	border-style: solid;
	border-width: 1px;
	border-color: #b9b9b9;

	font-weight: 300;
	font-size: 10px;
	text-align: right;
	color: black;
}

#inputs label {
	margin: 0;
	padding: 3px 10px 3px 0;
	float: left;
	clear: left;
	width: 150px;
	text-align: left;
	display: block;

	color: #b9b9b9;
	font-weight: 300;
	font-size: 12px;
}

#inputs label.indent {
	padding-left: 48px;
	width: 102px;
}


#inputs label.inactive {
	color: #d5d5d5;
	font-style: italic;
	font-weight: 100;
}

#inputs input.inactive {
	border-color: #d5d5d5;
	color: #d5d5d5;
	font-style: italic;
}

#inputs label input.customCheck {
	margin-left: 20px;
	width: 28px;
	vertical-align: middle;
}










/* remove below here */
.facadeaxis path,
.facadeaxis line {
	fill: none;
	stroke-width: 1;
	stroke: black;
}

.facadeaxis text {
    font-family: "museo-sans", sans-serif;
    font-size: 11px;
}
/* remove above here */








@font-face {
	font-family: "museo-sans";
	src: url('../fonts/museosans.otf');
}

