body {
	margin: 0 20px;
}

#header {
	width: 960px;
	margin: 0 auto;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}


#header img {
	width: 100%;
}

.left {
	position: relative;
	float: left;
	width: 550px;
	padding: 0;
	margin: 0 20px 0 0;
}

#graphWrapper {
	height: auto;
	position: relative;
}

#graph .axislabel, #graph .axis text {
	font-family: "museo-sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
}



#graph .axis path,
#graph .axis line {
    fill: none;
}


.occupantLine {
	stroke: #000;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-dasharray: 0 4;
}

#graph .grid line { /* horizontal reference lines */
	stroke-width: 1;
	stroke: #000;
	stroke-linecap: round;
	stroke-dasharray: 0 4;
}

#graph .grid path {
	stroke-width: 0;
}

#graph #graphXAxis line {
	stroke-width: .5;
	stroke: rgb(90,90,90);
}

#graph #graphYAxis line {
	stroke-width: 0;
}






#tooltip, #thresholdTooltip {
	position: absolute;
	width: 280px;
	padding: 10px;
	pointer-events: none;
	background-color: rgba(255,255,255,.8);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}



#tooltip.hidden, #thresholdTooltip.hidden {
	display: none;
}

#tooltip h1, #thresholdTooltip h1 {
	font-family: "museo-sans", sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding: 0 0 3px 0;
	margin: 0;
}









#thresholdTooltip h1 img#icon, #tooltip h1 img#icon {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0px 3px 0 0;
	padding: 0;
}








#facadeWrapper {
	width: 100%
	overflow: auto;
}

#case1FacadeWrapper, #case2FacadeWrapper, #case3FacadeWrapper {
	float: left;
}


.facadeHeading {
	font-family: "museo-sans", sans-serif;
	font-weight: 500;
	font-size: 11px;
	margin: 0;
	display: inline-block;
	float: left;
}

.greyText {
	color: #b9b9b9;
}

.case1Text {
	color: rgb(0,160,221);
}

.case2Text {
	color: rgb(248,151,29);
}

.case3Text {
	color: rgb(108,28,131);
}




.facadelabel {
	font-family: "museo-sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	fill: #000;
}


.dimline {
	stroke-width: 1px;
	stroke: #777;
	stroke-linecap: butt;
	shape-rendering: crispEdges;
}


#windowHeightDim, #windowWidthDim, #sillHeightDim, #windowSepDim, #facadeWidthDim, #facadeHeightDim {
	display: none;
}







rect.filled {
	fill: rgb(190,190,190);
	stroke: rgb(190,190,190);
	stroke-width: 1px;
	stroke-dasharray: 0;
}

rect.outlined {
	fill: #fff;
	stroke: rgb(190,190,190);
	stroke-width: 1px;
	stroke-dasharray: 4, 3;
}

rect.white {
	fill: #fff;
}

rect.blue {
	fill: #E1F0FF;
}





#occupancyWrapper {
	margin: 20px 0 0 0;
}


#sliderWrapper, #sliderWrapper2, #sliderWrapper3 {
	height: 10px;
	float: left;
	position: relative;
}

.occSlider {
	width: 190px;
	float: right;
}

#ppd, #distFromFacade {
	display: inline-block;
	width: 75%;
	float: left;
	margin: 0;
}

#ppd p {
	margin: 0;
}

.occSlider output {
	float: right;
	display: inline-block;

	font-weight: 300;
	font-size: 12px;
	color: #777;
}


#occupantImage, #occupantImage2, #occupantImage3 {
	position: relative;
	width: 180px; 
  	height: 250px;
	background-image: url(../../static/images/slider.png);
	background-size: 180px 250px;
	display: inline-block;
	bottom: 510px; /* imageHeight + facMargin.bottom*2*/
	left: -15px; /* - imageWidth/2 */
	opacity: .8;
}



#occupantDist, #occupantDist2, #occupantDist3 {
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	width: 100%;
	top: -3px;
}


#occupantDist::-moz-range-track, #occupantDist2::-moz-range-track, #occupantDist3::-moz-range-track, #ppd::-moz-range-track, #distFromFacade::-moz-range-track {
	-moz-appearance: none;
	height: 2px;
	background-color: #d5d5d5;
	margin-right: 3px;
}
#occupantDist::-webkit-slider-runnable-track, #occupantDist2::-webkit-slider-runnable-track, #occupantDist3::-webkit-slider-runnable-track, #ppd::-webkit-slider-runnable-track, #distFromFacade::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 2px;
	background-color: #d5d5d5;
	margin-right: 3px;
}

#occupantDist::-moz-range-thumb, #occupantDist2::-moz-range-thumb, #occupantDist3::-moz-range-thumb, #ppd::-moz-range-thumb, #distFromFacade::-moz-range-thumb {
	-moz-appearance: none;
    background-color: #FFF;
    border: 3px solid rgb(150,150,150);
    border-radius: 5px;
    height: 5px;
    width: 5px;
}

#occupantDist::-webkit-slider-thumb, #occupantDist2::-webkit-slider-thumb, #occupantDist3::-webkit-slider-thumb, #ppd::-webkit-slider-thumb, #distFromFacade::-webkit-slider-thumb {
	-webkit-appearance: none;
    background-color: #FFF;
    border: 3px solid rgb(150,150,150);
    border-radius: 5px;
    height: 5px;
    width: 5px;
}










#caseWrapper {
	overflow: hidden;
	width: 100%;
	display: inline-block;
	height: 16px;
}



#caseSelection {
	display: block;
	float: right;
}

#caseSelection h2 {
	width: 60px;
	display: inline-block;
	text-align: center;
	font-size: 10px;

	padding: 0;
	margin: 0;
	vertical-align: top;

	color: #000;

	cursor: pointer;
}


#caseSelection h2 span {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0px 1px 0 10px;
	background-size: 11px 11px;
}

span#case1Button {
	background: url(../../static/images/expand-case1.png) 0 0 no-repeat;
}

span#case2Button {
	background: url(../../static/images/expand-case2.png) 0 0 no-repeat;
}

span#case3Button {
	background: url(../../static/images/expand-case3.png) 0 0 no-repeat;
}



#caseSelection h2.unselected, #caseSelection h3.unselected {
	color: #b9b9b9;
}


span#case1Button.unselected, span#case2Button.unselected, span#case3Button.unselected {
	background: url(../../static/images/expand-unselected.png) 0 0 no-repeat;
	background-size: 11px 11px;
}








#inputs {
	float: left;
	width: 390px;

	font-family: "museo-sans", sans-serif;
	position: relative;
	z-index: 0;

	line-height: 1em;
}

#occupantSliders {
	width: 550px;

	font-family: "museo-sans", sans-serif;
}

#inputs h1, #occupantSliders h1 {
	font-weight: 700px;
	font-size: 23px;
	line-height: 23px;
	margin: 0;
	padding-bottom: 18px;
}

#inputs p, #occupantSliders p {
	font-size: 12px;
	line-height: 1.4em;
	font-weight: 100;
}

#inputs p.subtext {
	color: #777;
}


#inputs .inputgroup, #occupantSliders .inputgroup {
	border: none;
	padding: 0 0 15px 0;
	position: relative;
}


#inputs #legend, #occupantSliders #legend {
	border: none;
	padding: 0 0 10px 0;
	margin-bottom: 20px;
}

#inputs legend, #occupantSliders legend {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 5px 0;
	margin: 0;
	width: 190px;
}

#inputs legend.first {
	float: left;
}


#inputs ul {
	font-family: "museo-sans", sans-serif;
	color: #b9b9b9;
	font-weight: 300;
	font-size: 12px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}



#inputs hr, #occupantSliders hr {
	padding: 0;
	margin: 0 0 5px 0;
	background: #000;
	border: none;
	color: #000;
	height: 1px;
	width: 100%;
}


#inputs div.inputWrapperLeft {
	width: 60px;
	height: 16px;
	padding: 2px 0px;
	display: inline-block;
	vertical-align: middle;
}

div.inputWrapperLeft span {
	float:left;
}

#inputs div.inputWrapperCenter {
	width: 41px;
	height: 16px;
	padding: 2px 0px;
	display: inline-block;
	vertical-align: middle;
}


div.inputWrapperCenter span {
	float:left;
}

#inputs div.inputWrapperRight {
	width: 60px;
	height: 16px;
	padding: 2px 0px;
	display: inline-block;
	vertical-align: middle;
}

#inputs div.inputWrapperRight input#calcuvalue3 {
	margin: 0px 0px 0px 19px;
}

div.inputWrapperRight span {
	float: right;
}


#inputs div.inputWrapperCenter hr, #inputs div.inputWrapperRight hr {
	width: 20px;
	margin: 7px auto;
	height: 1px;
	background-color: #b9b9b9;
}

#inputs div.inputWrapperRight hr {
	margin: 7px 0 7px 25px;
}




#inputs input {
	padding: 2px 3px 1px 1px;
	margin: 0px 12px 0px 0px;
	display: inline-block;
	float: left;
	width: 25px;
	height: 13px;

	background-color: rgb(245, 245, 245);

	border: none;

	font-family: "museo-sans", sans-serif;
	font-weight: 300;
	font-size: 10px;
	text-align: right;
	color: black;
}

#inputs input.inactive {
	border-color: rgb(235, 235, 235);
	border-style: solid;
	border-width: 1px;
	color: #d5d5d5;
	font-style: italic;
	cursor: default;
	background-color: #fff;
	padding: 1px 2px 0px 0px;
}

#inputs input.inactive#calcuvalue, #inputs input.inactive#calcuvalue2, #inputs input.inactive#calcuvalue3 {
	padding: 2px 9px 0px 4px;
	font-style: normal;
}



#uValButton {
	width: 100%;
	margin: 4px 0 4px 0px;
}

#inputs input[type=button]#calcUValue {
	color: #ADADAD;
	width: 48px;
	padding: 3px 2px;
	height: 20px;
	margin: 0;
	border-radius: 10px;
	border: 1px solid #ADADAD;
	background-color: #fff;
	cursor: pointer;
	text-align: center;
}

#inputs input[type=button]#calcUValue:hover {
	color: #fff;
	background-color: #777;
	border-color: #777;
}











#inputs label, #occupantSliders label {
	margin: 0;
	padding: 3px 3px 3px 0;
	float: left;
	clear: left;	
	text-align: left;
	display: block;

	
	font-weight: 300;
	font-size: 12px;
}

#inputs label {
	color: #777;
	width: 212px;
}

#inputs label.grey {
	color: #ADADAD;
}

#occupantSliders label {
	color: #000;
	width: 350px;
}

#occupantSliders label p {
	font-size: 12px;
	color: #777;
	font-weight: 100;
	margin: 3px 0 0 0;
}


#inputs label.indent {
	padding-left: 48px;
	width: 164px;
}


#inputs label.inactive {
	color: #b9b9b9;
	font-style: italic;
	font-weight: 100;
}



#inputs label input.customCheck {
	width: 15px;
	vertical-align: middle;
}




/* custom checkbox styling */
input[type=checkbox] {
	visibility: hidden;
}

#inputs div.customCheckStyle {
	width: 12px;
	margin: 0px 5px 0px 20px;
	position: relative;

	vertical-align: middle;
}

#inputs div.customCheckStyleCentered {
	width: 12px;
	margin: 0;
	position: relative;

	vertical-align: middle;
}



/* box for the checkbox */
#inputs div.customCheckStyle label, #inputs div.customCheckStyleCentered label {
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;
	padding: 1px;
	top: 1px;
	left: 0;
	background: rgb(245, 245, 245);
}

#inputs div#offsetLeft label {
	top: -5px;
	left: 19px;
}

#inputs div#offsetMiddle label {
	top: -5px;
}

#inputs div.customCheckStyle label.unselected, #inputs div.customCheckStyleCentered label.unselected {
	border: 1px solid rgb(235, 235, 235);
	width: 10px;
	height: 10px;
	background: #fff;
}





/* tick for inside checkbox */
#inputs div.customCheckStyle label:after, #inputs div.customCheckStyleCentered label:after {
	opacity: 1;
	content: '';
	position: absolute;
	width: 6px;
	height: 4px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 2px solid #777;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#inputs div.customCheckStyle label.unselected:after, #inputs div.customCheckStyleCentered label.unselected:after {
	opacity: 0;
}

#inputs div.customCheckStyle label.unselected:hover::after, #inputs div.customCheckStyleCentered label.unselected:hover::after {
	opacity: 0.5;
	top: 2px;
	left: 2px;
}



#inputs div#condensation {
	width: 142px;
	bottom: 40px;
	left: 218px;
}

#inputs div#uvaluePop {
	width: 142px;
	bottom: 110px;
	left: 218px;
	z-index: 1000;
}



#inputs div.alert img.close {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 20px;
	height: 20px;
}


#inputs div.alert {
	position: absolute;

	background-color: #fff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #f72734;
	
	display: none;
}

 #inputs div.alert p {
	color: #f72734;
	margin: 0;
}



#inputs div#URLpop a:visited, #inputs div#URLpop a:hover, #inputs div#URLpop a:active {
	color: #777;
}





#sliderWrapper2, #sliderWrapper3, {
	display: none;
}






#options {	
	overflow: auto;
	width: 100%;

	padding: 10px 0px 15px 0px;
}

div#units, div#share {
	margin-right: 30px;
	float: left;
}



#options h2 {
	color: #000;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	margin: 0 5px 0 0;
	display: inline-block;
	float: left;
}


#options input[type=button].optionButton {
	padding: 1px 2px;
	height: 16px;
	margin: 0 5px;
	border-radius: 10px;
	border: 1px solid #777;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	float: left;
}

#options input[type=button].optionButton.unselected {
	color: #777;
	background-color: #fff;
}

#options input[type=button].optionButton.selected {
	color: #fff;
	background-color: #777;
}



#options input[type=button].optionButton#PDF,  #inputs input[type=button].optionButton#URL{
	width: 75px;
}

#options input[type=button].optionButton:hover {
	color: #fff;
	background-color: #777;
}




div#URLpop {
	
}

div#URLpop textarea {
	font-family: "museo-sans", sans-serif;
	text-align: center;
	font-size: 12px;
	font-weight: 100;
	color: #000;
	width: 418px;
	height: 220px;
}




#explanation {
	border: solid 2px #000;
	padding: 10px;
	margin: 15px 0 0 0;
}


#explanation h1 {
	margin: 0;
	padding-bottom: 5px;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;

	font-family: "museo-sans", sans-serif;
}

#col {
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count: 2;

	-moz-column-gap: 26px;
	-webkit-column-gap: 26px;
	column-gap: 26px;

	column-width: 250px;
	-webkit-column-count: 250px;
	-moz-column-count: 250px;
}

#col h2 {
	margin: 0 0 5px 0;
	font-weight: 700;
	font-size: 12px;

	font-family: "museo-sans", sans-serif;

	-moz-column-break-before: always;
	-webkit-column-break-before: always;
	break-before: always;
}

#col p {
	font-family: "museo-sans", sans-serif;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
 	padding-bottom: 5px;
}

.keepTogether {
	display: inline-block;
	width: 100%;
}


.keepTogether img.discomfortIcon {
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	margin: 0px 5px 0 0;
}



.keepTogether ul {
	margin: 0;
	padding: 0 0 0 10px;
	font-family: "museo-sans", sans-serif;
	font-size: 12px;
}







/* -- show cases only when selected -- */
div.case2, div.case3, #inputs input.case2, #inputs input.case3, hr.case2, hr.case3 {
	display: none;
}







@font-face {
	font-family: "museo-sans";
	font-weight: 100;
	src: url('../fonts/MuseoSans-100.otf');
}

@font-face {
	font-family: "museo-sans";
	font-weight: 300;
	src: url('../fonts/MuseoSans-300.otf');
}

@font-face {
	font-family: "museo-sans";
	font-weight: 700;
	src: url('../fonts/MuseoSans_0.otf');
}

@font-face {
	font-family: "museo-sans";
	font-weight: 900;
	src: url('../fonts/MuseoSans_1.otf');
}

